<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns="http://www.w3.org/1999/html">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link th:href="@{/css/menu.css}" rel="stylesheet" />

  <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
  <title>Подготовка за НВО</title>
</head>

<body>
<div th:replace="fragments :: navbar" />

<div class="container">
  <div style="width:1350px;margin-left: auto;margin-right: auto;margin-top:24px;padding: 24px;">
    <div class="card">
      <div class="card-block" style="padding: 24px;">
        <table class="table  table-striped table-hover" action="#" th:action="@{/lessons/{id}(id=${lesson.id})}" th:object="${lesson}">
          <thead>
          <tr>
            <th th:text="${lesson.getTitle()}" style="text-align: center" colspan="3"></th>
              <th>
                  <a style="color:blue" th:href="@{/lessons/edit/{id}(id=${lesson.id})}"><i class="fa-solid fa-pen-to-square ms-4"></i></a>
              </th>
          </tr>
          </thead>
          <tbody>
            <tr th:each="lessonContent:${lesson.getLessonContents()}">
              <td th:text="${lessonContent.getContent()}"></td>
                <td><iframe th:src="${lessonContent.getImage()}" th:height="${lessonContent.getImage()}?'400':'0'" th:width="${lessonContent.getImage()}?'600':'0'"> </iframe></td>
                <td><a style="color:blue" th:href="@{/lessonContents/edit/{id}(id=${lessonContent.id})}"><i class="fa-solid fa-pen-to-square ms-4"></i></a></td>
                <td><a style="color:red" th:href="@{/lessonContents/delete/{id}(id=${lessonContent.id})}"><i class="fa-solid fa-trash ms-4"></i></a></td>
            </tr>
          <tr>
              <td colspan="4"><a th:href="@{/lessonContents/add}" style="text-align: center;">Добавяне на абзац</a></td>
          </tr>
          </tbody>
            <div class="form-actions" style="margin-top: 12px;">

            </div>
        </table>
          <table class="table  table-striped table-hover" action="#" th:action="@{/lessons/${id}(id=${lesson.id})}" th:object="${lesson}">
              <thead>
              <tr>
                  <th colspan="9" style="text-align: center">Задачи към урока</th>
              </tr>
              </thead>
              <tbody>
            <tr th:each="listOfTasksInLesson:${lesson.getListOfTasksInLesson()}">
                <td th:text="${listOfTasksInLesson.getCondition()}" style="width: 60%"></td>
                <td>А. <label th:text="${listOfTasksInLesson.getAnswer1()}"></label></td>
                <td>B. <label th:text="${listOfTasksInLesson.getAnswer2()}"></label></td>
                <td>C. <label th:text="${listOfTasksInLesson.getAnswer3()}"></label></td>
                <td>D. <label th:text="${listOfTasksInLesson.getAnswer4()}"></label></td>
                <td><button th:id="${listOfTasksInLesson.getId()}" style="border: none; background-color: transparent; color: green" th:onclick="'showAnswer(\'answer-'+${listOfTasksInLesson.getId()}+'\')'">
                  <i class="fa-solid fa-check ms-4"></i></button>
                </td>
                <td><label th:text="${listOfTasksInLesson.getCorrectAnswer()}" th:id="'answer-'+${listOfTasksInLesson.getId()}+''" style="display: none"></label></td>
                <td><a style="color:blue" th:href="@{/tasks/editLesson/{id}(id=${listOfTasksInLesson.id})}"><i class="fa-solid fa-pen-to-square ms-4"></i></a></td>
                <td><a style="color:red" th:href="@{/tasks/delete/{id}(id=${listOfTasksInLesson.id})}"><i class="fa-solid fa-trash ms-4"></i></a></td>
            </tr>
            <tr>
                <td colspan="9"><a th:href="@{/tasks/addToLesson}" style="text-align: center;">Добавяне на задача</a></td>
            </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>
</div>
<script>
  function showAnswer(id) {
    var x = document.getElementById(id);
    if (x.style.display === "none") {
      x.style.display = "block";
    } else {
      x.style.display = "none";
    }
  }
</script>
</body>
</html>