<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>NVO app</title>
</head>

<body>
<h1>Teachers</h1>
<br />

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>User name</th>
    <th>Role</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${teachers.empty}">
    <td colspan="2">No teachers available</td>
  </tr>
  <tr th:each="teacher : ${teachers}">
    <td><span th:text="${teacher.id}"> </span></td>
    <td><span th:text="${teacher.getUser().getFirstName()}"> </span></td>
    <td><span th:text="${teacher.getUser().getLastName()}"> </span></td>
    <td><span th:text="${teacher.getUser().getEmail()}"> </span></td>
    <td><span th:text="${teacher.getUser().getUsername()}"> </span></td>
    <td><span th:text="${teacher.getUser().getRoleType()}"></span> </td>
    <td><a th:href="@{/teachers/edit/{id}(id=${teacher.id})}">Edit</a></td>
    <td><a th:href="@{/teachers/delete/{id}(id=${teacher.id})}">Delete</a></td>
  </tr>
  </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>