<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
  <link th:href="@{/css/menu.css}" rel="stylesheet" />

  <script src="https://kit.fontawesome.com/0faddc1af8.js" crossorigin="anonymous"></script>
  <title>Подготовка за НВО</title>
</head>

<body>
<div th:replace="fragments :: navbar" />

<div class="container my-5 col-md-8">
  <table class="table  table-striped table-hover">
    <thead>
    <tr>
      <th scope="col" colspan="3">Заглавие</th>
    </tr>
    </thead>
    <div th:if="${tests.isEmpty()}">Няма тестове</div>
    <tbody>
    <tr th:each="test :${tests}">
      <td style="width: 85%">
        <a th:href="@{/tests/{id}(id=${test.id})}"><p th:text="${test.getTitle()}"></p></a>
      </td>
      <td>
        <a style="color:blue" th:href="@{/tests/edit/{id}(id=${test.id})}"><i class="fa-solid fa-pen-to-square ms-4"></i></a>
      </td>
      <td>
        <a style="color:red" th:href="@{/tests/delete/{id}(id=${test.id})}"><i class="fa-solid fa-trash ms-4"></i></a>
      </td>
    </tr>
    <tr>
      <td colspan="9"><a th:href="@{/tests/add}" style="text-align: center;">Добавяне на тест</a></td>
    </tr>
    </tbody>
  </table>
</div>
