<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <meta charset="ISO-8859-1">
  <link rel="stylesheet"
        href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <title>NVO app</title>
</head>

<body>
<h1>Users</h1>
<br />

<table>
  <thead>
  <tr>
    <th>Id</th>
    <th>First name</th>
    <th>Last name</th>
    <th>Email</th>
    <th>User name</th>
    <th>Role</th>
    <th>Edit</th>
    <th>Delete</th>
  </tr>
  </thead>
  <tbody>
  <tr th:if="${users.empty}">
    <td colspan="2">No users available</td>
  </tr>
  <tr th:each="user : ${users}">
    <td><span th:text="${user.id}"> </span></td>
    <td><span th:text="${user.firstName}"> </span></td>
    <td><span th:text="${user.lastName}"> </span></td>
    <td><span th:text="${user.getEmail()}"> </span></td>
    <td><span th:text="${user.getUsername()}"> </span></td>
    <td><span th:text="${user.getRoleType()}"></span> </td>
    <td><a th:href="@{/users/edit/{id}(id=${user.id})}">Edit</a></td>
    <td><a th:href="@{/users/delete/{id}(id=${user.id})}">Delete</a></td>
  </tr>
  </tbody>
</table>


<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"></script>
<script
        src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>
</body>
</html>